#brand-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 4.5vw;
    margin-bottom: 3rem ;
    width: 80vw;
}

.brand{
    width: 10vw;
    height: auto;
    justify-self: center;
}
@media only screen and (max-width: 829px) {
    #brand-grid {
      display: none;
    }
  }
