@import url("https://use.typekit.net/mdy6uuo.css");

body {
  margin: 0;
  font-family: titling-gothic-fb,sans-serif;
  font-weight: 300;
  font-style: normal;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

