.a-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     width: 95vw; 
     border: .1rem solid blue;
}


.a-child-content-container {
    border: .1rem solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 2rem;
    /* width: (100vw -15rem);  */
    align-self: center;
    flex-grow: 1;
}


.a-admin-request-card  > div > h4 > span {
    color: grey;
}

.a-admin-request-card {
    display: flex;
    flex-direction: row;
    border: .1rem solid pink;
    align-self: center;
    white-space: nowrap;
}


.a-admin-request-card-name {
    
    border: .1rem solid navajowhite;
   
}
.a-admin-request-card-form {
    display: flex;
    flex-direction: row;
    width: 20rem;
    border: .1rem solid lightblue;
    
   
}

.a-admin-request-card > h4 {
    white-space: nowrap;
    margin-bottom: .5rem;
    align-self: flex-start;
}


#a-adminButton {
    height: 3rem;
    width: 5rem;
    margin: 0 1rem;
}



@media only screen and (max-width: 992px) {
    .a-admin-request-card {
    display: flex;
    flex-direction: column;
    border: .1rem solid pink;
    align-self: center;
    white-space: nowrap;
}
   
}

@media only screen and (max-width: 768px) {
    .a-content-container {
        flex-direction: column;
        align-items: center;
        margin: 0rem;
    }

    .a-child-content-container {
        padding: .5rem;
        width: 90vw; 
        align-self: center;
    }
   
}
