#content-container {
    margin-left: 10rem;
}

#row-container {
    display: flex;
    flex-direction: row;
    height: 4rem;
    align-items: center;
}

#adminRadioGroup {
    height: 3rem;
    white-space: nowrap;
}

#adminButton {
    height: 3rem;
}

#row-container > h4 {
    white-space: nowrap;
    margin-left: .5rem;
    margin-bottom: .3rem;

}
#row-container > button {
    margin-left: 1rem;
    margin-bottom: 1rem;
}