#a-container-sidebar {
  display: flex;
  flex-direction: column;
  width: 15rem;
  min-width: 15rem;
  height: 100%;
  background-color: whitesmoke;
  /* margin-top: 1rem; */
}

#a-container-sidebar-admin {
  color: rgb(139, 139, 139);
  vertical-align: bottom;
  vertical-align: text-bottom;
  /* column-span: all; */
}

#a-container-sidebar-admin > h5 {
  padding-left: 1rem;
  padding-top: 1rem;
  /* display: block; */
  display: flex;
  align-items: center;
}

.a-products-sidebar,
.a-orders-sidebar,
.a-admin-sidebar {
  display: flex;
  flex-direction: column;
}

.a-products-sidebar > div > h5,
.a-orders-sidebar > div > h5,
.a-admin-sidebar > div > h5 {
  padding-left: 1rem;
  padding-top: 1rem;
}

.a-products-sidebar > h4,
.a-orders-sidebar > h4,
.a-admin-sidebar > h4 {
  padding-top: 1rem;
}

.a-menu-header:hover {
  font-weight: 400;
  cursor: pointer;
}
.a-dropdown-content-products,
.a-dropdown-content-orders,
.a-dropdown-content-admin {
  display: none;
}
.a-dropdown-content-products.show,
.a-dropdown-content-orders.show,
.a-dropdown-content-admin.show {
  display: block;
}

/* MEDIA QUERYS 768PX */
@media only screen and (max-width: 768px) {
  #a-container-sidebar-admin {
    display: flex;
    flex-direction: row;
    grid-area: adminRole;
  }
  .a-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  #a-container-sidebar-admin > h4,
  .a-products-sidebar > h4,
  .a-orders-sidebar > h4,
  .a-admin-sidebar > h4 {
    padding-top: 0rem;
  }
  #a-container-sidebar-admin > h5 {
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  .a-products-sidebar {
    justify-self: center;
    grid-area: products;
  }
  .a-orders-sidebar {
    justify-self: center;
    grid-area: orders;
  }
  .a-admin-sidebar {
    justify-self: center;
    grid-area: admin;
  }
  #a-container-sidebar {
    display: grid;
    grid-template-rows: 2.5rem 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 1rem 0rem;
    justify-content: space-evenly;
    grid-template-areas: " adminRole adminRole adminRole " "products orders admin";
  }
  .a-dropdown-content-products,
  .a-dropdown-content-orders,
  .a-dropdown-content-admin {
    display: none;
  }
  .a-dropdown-content-products.show,
  .a-dropdown-content-orders.show,
  .a-dropdown-content-admin.show {
    display: block;
  }
}
/* MEDIA QUERYS 425PX */
@media only screen and (max-width: 425px) {
  #a-container-sidebar > div > h5 {
    font-size: 0.7rem;
  }
  #a-container-sidebar > div > h4 {
    font-size: 0.85rem;
  }
}
/* MEDIA QUERYS 375PX */
@media only screen and (max-width: 375px) {
  .a-dropdown-content-products.show > h5,
  .a-dropdown-content-orders.show > h5,
  .a-dropdown-content-admin.show > h5 {
    font-size: 0.6rem;
  }
  #a-container-sidebar > div > h5 {
    font-size: 0.6rem;
  }
  #a-container-sidebar > div > h4 {
    font-size: 0.7rem;
  }
}
