.a-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
     width: 95vw; 
}


.a-welcome-container {
    border: .1rem solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 2rem;
    width: 95vw -15rem; 
    align-self: center;
}

#a-welcome-text {
    text-align: center;
    padding-bottom: 3rem;
}

.a-list-welcome {
    border: .1rem solid lightgray;
    align-self: center;
    
}

@media only screen and (max-width: 768px) {
    .a-content-container {
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }
    .a-welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 425px) {
    .a-welcome {
        width: 100%;
    }
    .a-content-container {
        margin: 0.5rem;
    }
}