.a-order-card {
  width: 13rem;
  max-width: 19rem;
  height: auto;
  padding: 1rem;
  margin: .5rem;
  border: 0.1rem solid lightgray;
}

.a-order-card > div {
  padding-bottom: 0.2rem;
  /*  white-space: nowrap; */
}

.a-order-card > div > span {
  color: grey;
}
