.a-order-card {
  /* max-width: 19rem; */
  padding: 1rem;
  margin-top: 1rem;
  border: 0.1rem solid lightgray;
}

.a-order-card > div {
  padding-bottom: 0.2rem;
  /*  white-space: nowrap; */
}

.a-order-card > div > span {
  color: grey;
}
