#a-content-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin-right: 5rem;

}



.a-edit-category-container {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 30%;
    text-align: center;
}


.a-product-info {
    
    flex-basis: 70%;
}

.a-product-info > div > span {
    color: grey;
}

#a-product-card {
    border: .1rem solid grey;
    display: flex;
    flex-direction: row;
   
    
}
.a-category-inline {
    display: inline-block;
    margin-left: .5rem;
}
