@import url("https://use.typekit.net/mdy6uuo.css");

body {
    font-family: titling-gothic-fb, sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
   
   
  }

header{
    width: 85vw;
   
}


.hero{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}
.LatestProducts{
    
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
}