

* {
  margin: 0;
  padding: 0;
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 300;
  font-style: normal;
}

footer {
  background-color: whitesmoke;
  display: flex;
  height: 5rem;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 85vw;
  margin-bottom: 2rem;
}

#logo {

  display: flex;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-left: 2rem;
  
}
#social{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 15rem;
}

#contact{
  display: flex;
  flex-direction: column;
  width: 20rem;
}
#text-box{
  display: none;
  width: 20rem;
  text-align: justify;
}

