

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}
#grid-latest {

    display: grid;
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1vw;
}
h1 {
    
    font-size: 1.2rem;
    
}