.a-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     width: 95vw; 
}


.a-child-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 2rem;
    /* width: (95vw -15rem); */ 
    align-self: center;
    flex-grow: 1;
}


.a-quantity-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.a-quantity-card {
    border: .1rem solid lightgray;
    margin: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
width: 15rem;
max-width: 20rem;
}


.a-quantity-card > .a-quantity {
    padding: .1rem;
   
}

.a-quantity-card > .a-quantity > span, label{
    color: grey;
}

.a-quantity-card > button{
    margin: .5rem 0;
    height: 3rem;
    width: 13rem;
   
}
@media only screen and (max-width: 768px) {
    .a-content-container {
        flex-direction: column;
        align-items: center;
        margin: 0rem;
    }

    .a-child-content-container {
        padding: .5rem;
        width: 90vw; 
        align-self: center;
    }
   
}




/* 
.a-card-container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
}

.a-quantity-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
top: 10rem;

    /* align-items: center; */
/*
}

.a-quantity{
    padding: 0.5rem 0 0.5rem 0;
} */