#change-adress-div {
  width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#paymentheader {
  margin-bottom: 0.5rem;
}

.change-adress-wrapper {
  display: none;
  width: 100%;
  margin-top: 2rem;
}
.change-adress-wrapper > div > div {
 
  width: 100%;
  
}
.register-wrapper{
  display: flex;
  flex-direction: column;
 
}
.change-adress-div {
  display: none;
  width: 100%;
  
}

#Ändra-adress {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.3rem;
}

.change-adress-wrapper > div > div {
  
}

.change-adress-wrapper > div > div > div > div > div {
  width: 11rem;
}

div.ccv-div > div:first-child div {
  width: 6.75rem;
  margin-right: 0.5rem;
}

.ccv-div:last-child > div > div {
  width: 6.75rem;
}

@media only screen and (max-width: 1303px) {
  .change-adress-wrapper > div > div > div > div > div {
    width: 10rem;
  }
}
@media only screen and (max-width: 1170px) {
  #change-adress-div {
    width: 13rem;
  }

  div.ccv-div > div:first-child div {
    width: 6.25rem;
  }

  .ccv-div:last-child > div > div {
    width: 6.25rem;
  }
}

@media only screen and (max-width: 1100px) {
  #change-adress-div {
    width: 11rem;
  }

  div.ccv-div > div:first-child div {
    width: 5.25rem;
  }

  .ccv-div:last-child > div > div {
    width: 5.25em;
  }

  #formularButton {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 960px) {
  #change-adress-div {
    width: 10rem;
  }

  div.ccv-div > div:first-child div {
    width: 4.75rem;
  }

  .ccv-div:last-child > div > div {
    width: 4.75rem;
  }

  #formularButton {
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 1191px) {
  .change-adress-wrapper > div > div > div > div > div {
    width: 9rem;
  }
}
@media only screen and (max-width: 1081px) {
  .change-adress-wrapper > div > div > div > div > div {
    width: 8rem;
  }
}
@media only screen and (max-width: 962px) {
  .change-adress-wrapper > div > div > div > div > div {
    width: 7rem;
  }
}

@media only screen and (max-width: 870px) {
  .change-adress-wrapper > div > div > div > div > div {
    width: 10rem;
  }

  #change-adress-div {
    margin-bottom: 1rem;
  }
}
