* {
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  list-style: none;
}

#container-header {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 85vw;
}
#logo {
  display: flex;
  font-size: 1.5rem;
  color: black;
}
#container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
#menu {
  display: flex;
  width: 20vw;
  min-width: 12rem;
  justify-content: space-evenly;
  font-size: 0.8em;
}
#loggin {
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  width: 100%;
}
#loggin > a {
  cursor: pointer;
  color: black;
}
.basket {
  width: 1.2rem;
  height: auto;
}
@media only screen and (max-width: 829px) {
  /* #loggin {
    display: flex;
    width: 80%;
    font-size: x-small;
    align-items: flex-end;  }

    #container-header {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
      z-index: 2;
      margin-bottom: 2rem;
      width: 85vw;
      color: black;
    }
    #container-right {
      height: 12vh;
      font-size: x-small;
      
      
    } */
}