
* {
    font-family: titling-gothic-fb, sans-serif;
    font-weight: 300;
    font-style: normal;
    
}
#container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    width: 85vw;
    height: 10vh;
    margin-bottom: .5rem;


}
#logo {
    display: flex;
    font-size: 1.5rem;

}
#container-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
      
}
#menu{
    display: flex;
    width: 30vw;
    margin-right: 7rem;
    justify-content: space-evenly;
    
}
#loggin {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: space-between;
    font-size: 1rem;
    width: 20vw;
    margin-bottom: 2.5rem;
    font-size: smaller;

}
