#component-container {
  display: flex;
  flex-direction: column;
}
#children-container {
  display: flex;
  justify-content: center;
  width: 85vw;
  margin-bottom: 2.5rem;
}

#grid-children {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5vw;
  margin-bottom: 2rem ;
}
h1 {
  font-size: 1.2rem;
}
