.a-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     width: 95vw; 
}

.a-child-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 2rem;
    /* width: (95vw -15rem); */ 
    align-self: center;
    flex-grow: 1;
}

.a-sample {
    width: 5rem;
    height: 5rem;
}

.a-delete-product-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#a-delete-product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
border: .1rem solid grey;
margin: .5rem;
padding: 1rem;
width: 15rem;
max-width: 20rem;
}

#a-delete-product-card > div > div > span {
    color: grey;
}


#a-delete-product-card > div > div {
    padding: .1rem;
}


#a-delete-product-card > div > button {
    margin: .5rem 0;
    height: 3rem;
    width: 13rem;
}

@media only screen and (max-width: 768px) {
    .a-content-container {
        flex-direction: column;
        align-items: center;
        margin: 0rem;
    }

    .a-child-content-container {
        padding: .5rem;
        width: 90vw; 
        align-self: center;
    }
   
}